<template>
    <div>
        <ul class="movies">
            <li
                class="movie"
                v-for="(movie, i) in sortedMovies"
                v-bind:key="i"
                v-bind:title="movie.title"
            >
                <div>
                    <div v-on:click="goMovie(movie.id)" class="movie__picture">
                        <img :src="movie.poster" :alt="movie.title" />
                    </div>
                    <div class="movie__nameActions">
                        <div v-on:click="goMovie(movie.id)" class="movie__name">
                            <span
                                >{{ movie.title }} ({{
                                    movie.releaseDate
                                }})</span
                            >
                        </div>
                        <div class="movie__action">
                            <button v-on:click="goEditMovie(movie.id)">
                                <img src="img/pen-solid.svg" />
                            </button>
                            <button v-on:click="deleteMovie(movie.id)">
                                <img src="img/trash-alt-solid.svg" />
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "movies",
    methods: {
        deleteMovie: function(id) {
            let movieToEdit = null;

            this.shared_data.movies.forEach((movie, i, masterArray) => {
                if (movie.id == id) {
                    masterArray.splice(i, 1);
                }
            });
            return movieToEdit;
        },
        goEditMovie: function(idMovie) {
            this.$router.push({ name: "edit", params: { idMovie: idMovie } });
        },
        goMovie: function(idMovie) {
            this.$router.push({ name: "movie", params: { idMovie: idMovie } });
        },
    },
    data: function() {
        return {
            shared_data: window.shared_data,
        };
    },
    computed: {
        sortedMovies: function() {
            let moviesToSort = this.shared_data.movies;
            let searchText = this.shared_data.searchText;
            console.log(searchText, moviesToSort);

            if (searchText != "") {
                let sortedMovies = [];
                moviesToSort.forEach((movie) => {
                    let movieGenre = movie.genre.split(", ");
                    movieGenre.forEach((genre) => {
                        if (genre.toLowerCase() === searchText) {
                            sortedMovies.push(movie);
                        }
                    });
                    if (
                        movie.title.toLowerCase() === searchText ||
                        movie.releaseDate === searchText ||
                        movie.director.name.toLowerCase() === searchText
                    ) {
                        sortedMovies.push(movie);
                    }
                });
                return sortedMovies;
            } else {
                return moviesToSort;
            }
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
}
.movie * {
    font-family: forma-djr-deck, sans-serif;
}
.movie {
    width: 95%;
    margin: 20px auto;
}
.movie__picture {
    width: 100%;
    height: 400px;
    cursor: pointer;
}
.movie__picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.movie__nameActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.movie__name {
    cursor: pointer;
}
.movie__action {
    display: flex;
    justify-content: space-between;
}
.movie__action button img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
}
.movie__action button {
    background: none;
    border: none;
    cursor: pointer;
}
.movie__action button:first-child {
    margin-right: 10px;
}
@media screen and (max-width: 1240px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 960px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .movies {
        grid-template-columns: repeat(1, 1fr);
    }
}
</style>
