<template>
    <div id="app">
        <header>
            <div class="greenPart">
                <div class="appLogo">
                    <span v-on:click="displayHome">VueMovie</span>
                </div>
                <div class="headerSearch">
                    <input v-model="rechercheValue" />
                    <button v-on:click="recherche">
                        <img src="img/search-solid.svg" />
                    </button>
                    <!--<button v-on:click="reinitRecherche">
                        Reinitialiser
                    </button>-->
                </div>
                <div class="balancedGreenPart"></div>
            </div>
            <div class="whitePart">
                <div class="header__buttons">
                    <span class="header__button" v-on:click="displayAdd"
                        >Ajouter un film</span
                    >
                </div>
            </div>
        </header>

        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "App",
    data: function() {
        return {
            rechercheValue: "",
            shared_data: window.shared_data,
        };
    },
    methods: {
        displayHome: function() {
            let currentRoute = this.$route;
            if (currentRoute.name != "home") {
                this.$router.push({ name: "home" });
            }
            this.shared_data.searchText = "";
            this.rechercheValue = "";
        },
        displayAdd: function() {
            this.$router.push({ name: "add" });
        },
        recherche: function() {
            let currentRoute = this.$route;
            if (currentRoute.name != "home") {
                this.$router.push({ name: "home" });
            }
            let value = this.rechercheValue.toLowerCase();
            this.shared_data.searchText = value.toLowerCase();
        },
    },
};
</script>

<style>
* {
    margin: 0;
    padding: 0;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2 {
    font-size: 35px;
}
/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .greenPart {
    background-color: #42b883;
    width: 80%;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .whitePart {
    background-color: white;
    width: 20%;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app .appLogo {
    display: flex;
    align-items: center;
}
#app .appLogo span {
    font-family: vaccine, serif;
    color: #35495e;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header__button {
    color: #35495e;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.headerSearch {
    margin: 0 10px;
    position: relative;
}
.headerSearch input {
    background: #ffffff;
    padding: 8px 10px;
    border: 2px solid white;
    width: 250px;
}
.headerSearch input:focus {
    border-color: #359469;
    outline: none;
}
.headerSearch button img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
}
.headerSearch button {
    background: none;
    border: none;
    border-radius: 0px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
}
.balancedGreenPart {
    width: 100px;
}
li {
    list-style: none;
}
ul {
    padding: 10px 0;
}
@media screen and (max-width: 500px) {
    header .greenPart {
        flex-direction: column;
        align-items: flex-start;
    }
    .headerSearch {
        margin: 5px 0 0 0;
    }
    .headerSearch input {
        width: 200px;
    }
}
</style>
